# Исключение объектных файлов (*.o, *.obj)
*.o
*.obj

# Исключение исполняемых файлов
*.exe
*.out
*.app

# Исключение временных файлов (например, файлы резервных копий редакторов)
*~
\#*\#
.*.swp
.DS_Store  # Файлы macOS Desktop Services (если вы работаете на macOS)

# Исключение файлов сборки (build)
/build/
/dist/
/target/

# Исключение файлов логов
*.log

# Исключение файлов скомпилированного Python кода
*.pyc
__pycache__/

# Исключение файлов скомпилированного Java кода
*.class

# Исключение файлов скомпилированного C# кода
*.dll
*.pdb

*.out
# Другие временные файлы и каталоги (добавьте свои, если нужно)
tmp/
temp/
*.tmp
